body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.site-name {
    width: 200px;
    font-size: 1.5em;
    cursor: pointer;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    text-decoration: underline;
}

header nav ul {
    list-style: none;
    padding: 20px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.sign-up {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.header nav {
    align-items: center;
    display: flex;
    gap: 20px;
}

.profile {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
    background-color: rgb(167, 166, 166);
    cursor: pointer;
}

.dropdown {
    margin-top: 30px;
    border: 1px solid #DDDDDD;
    position: absolute;
    right: 0px;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 10px 80px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #bcddf8;
}
