.typing-test-body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.typing-test-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80%;
}

.text-to-type {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: 'pt-mono', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    background-size: 100% 43px;
    color: #4a4a4a;
    line-height: 2.5;
    margin: 5px -1px 5px 0;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 4px;
    overflow-y: scroll;
}

/* prevent the content from being selected or copied */
.text-to-type {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}

.screenBasic-letter {
    border-radius: 5px;
    text-align: center;
    border-bottom: 3px solid transparent;
    color: #4a4a4a;
    display: inline-block;
    line-height: 1.5;
    margin: 5px 2px 5px 0;
    min-width: 18px;
    height: fit-content;
}

.break {
    width: 100%;
    height: 1px;
}

@keyframes cursorBlink {
    0% { border-color: #3295db; }
    50% { border-color: transparent; }
    100% { border-color: #3295db; }
}

.active-char {
    color: rgb(177, 177, 254);
    animation: cursorBlink 1.0s;
    animation-iteration-count: infinite;
}

.correct-char {
    background: #edf7e7;
    color: #95c590;
    transition: color .12s ease-in-out;
}

.incorrect-char {
    background-color: #ffdcd9;
    color: #d55b60;
}

.answer-container {
    position: absolute;
    margin-top: 70px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    border-color: 1px solid black;

}

.answer-to-type {
    align-items: center;
    width: 100%;
    will-change: transform;
    background-position-y: -.5px;
    background-size: 100% 43px;
}

.answer-word {
    display: inline-block;
    z-index: 1;
}

.answer-letter {
    display: inline-block;
    border-bottom: 3px solid transparent;
    color: #4a4a4a;
    line-height: 2.5;
    margin: 5px -1px 5px 0;
    z-index: 1;
}

.container {
    position: relative;
}

.congrats-container {
    position: absolute;
    background-color: #ffffff;
    color: #333333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 400px;
    z-index: 1000;
}

.congrats-message h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #35477d;
}

.congrats-message p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.score-container {
    margin: 20px 0;
}

.score-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.score-label {
    font-weight: bold;
}

.score-value {
    font-size: 1.2em;
}

.button-container {
    margin: 20px;
    display: flex;
    gap: 4rem;
}

.retry-button {
    background-color: #72c2d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.retry-button:hover {
    background-color: #5aa4b8;
}

.caps-lock {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #ffdddd;
    border: 1px solid #f44336;
    color: #f44336;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.caps-lock .warning-img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

/* Apply the shake animation to the div */
.shake {
    animation: shake 0.1s; /* Duration of the animation */
    animation-iteration-count: 1; /* Number of times the animation should repeat */
}

.first-char {
    color: red;
    z-index: 1000;
}

.first-char {
    position: relative;
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.first-char::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
